<%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <% forums_array = Forum.all.select { |f| f.id != @forum.id} . map { |f| [f.name, f.id] } %>
    <% forums_array.unshift ['index', ''] %>
    <%= f.select :parent_id, options_for_select(forums_array) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
