<h2><%= @forum.name %></h2>
<p><%= @forum.description %></p>
<p><%= list_path_helper(@forum.get_path) %></p>
<table id="subforums">
<% @sub_forums.each do |f| %>
  <tr>
    <td><%= link_to f.name, f %></td>
    <td><%= f.description %></td>
  </tr>
<% end %>
</table>

<table id="topics">
<% @forum.topics.each do |t| %>
  <tr>
    <td><%= link_to t.id, topic_path(t.id) %></td>
    <td><%= common_time t.created_at %></td>
    <td><%= common_time t.updated_at %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Topic', topicnew_forum_path %> |
<%= link_to 'Back', forums_path %>
